---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "小辉网络科技",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			My name is ToddHaylink come China is a good boy ,at there you should love stay here. QQ:2545519441 QQ群：439599655 这里聚集着世界各地的爱好者，欢迎你的加入！！！
		</p>
		<p>
			文字是候潮者的罗盘是晨雾里的随笔是未系缆的舟，载着露水般易逝的悸动在生活的褶皱里漂流；
		</p>
		<p>
			札记是一种系统化的记录方式，它帮助我们将学习到的知识、阅读的书籍、观看的电影等内容进行整理和总结。通过札记，我们可以更好地理解所学的内容，并将其转化为自己的知识储备。
		</p>
		<p>
			暗夜中的札记则如深海珊瑚，将星子坠落的光斑与书页间抖落的尘埃，缓慢结晶成发光的认知礁石。
		</p>
		<p>
			当潮汐在句读间进退，所有潦草的心事与严谨的思考，都成了月光与沙滩永恒的情书——字迹或许会被浪沫带走，但咸涩的共鸣永远留在拾贝者的掌心。
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
